<a href="https://colab.research.google.com/github/Niki-098/Credit_card_fraud_detection/blob/main/Credit_card_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

Importing the dataset

In [ ]:
#loading the dataset to a Pandas DataFrame
credit_card_data=pd.read_csv('creditcard.csv')

In [ ]:
#first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
261403,159998.0,1.724657,-0.106982,0.157860,3.956417,-0.567248,0.250016,-0.557382,0.192135,0.018389,...,0.248580,0.590834,0.099424,-0.083214,-0.266593,0.087290,-0.009315,-0.023482,80.05,0.0
261404,159998.0,-0.116710,0.622664,0.226647,-1.135911,0.791377,-0.669894,0.959207,-0.012747,-0.200576,...,-0.119183,-0.383198,0.080221,-0.433651,-1.079465,-0.044587,0.142399,0.205543,1.29,0.0
261405,160000.0,1.985257,-0.382365,-0.280022,0.494186,-0.721312,-0.528243,-0.574594,-0.077543,1.421329,...,0.188784,0.823228,0.096345,-0.074478,-0.064417,-0.207358,0.044080,-0.036908,9.99,0.0
261406,160001.0,-0.895792,1.271062,-1.315209,-1.293758,1.064260,-1.087220,1.296419,0.054068,-0.103692,...,0.207277,0.871975,-0.097011,0.712642,-0.264557,0.027453,0.300886,0.125450,15.41,0.0
261407,160001.0,2.037399,-1.871314,-0.035755,-1.523020,-1.876304,0.075325,-1.708434,0.060397,-0.991514,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261408 entries, 0 to 261407
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    261408 non-null  float64
 1   V1      261408 non-null  float64
 2   V2      261408 non-null  float64
 3   V3      261408 non-null  float64
 4   V4      261408 non-null  float64
 5   V5      261408 non-null  float64
 6   V6      261408 non-null  float64
 7   V7      261408 non-null  float64
 8   V8      261408 non-null  float64
 9   V9      261408 non-null  float64
 10  V10     261408 non-null  float64
 11  V11     261408 non-null  float64
 12  V12     261407 non-null  float64
 13  V13     261407 non-null  float64
 14  V14     261407 non-null  float64
 15  V15     261407 non-null  float64
 16  V16     261407 non-null  float64
 17  V17     261407 non-null  float64
 18  V18     261407 non-null  float64
 19  V19     261407 non-null  float64
 20  V20     261407 non-null  float64
 21  V21     261407 non-null  float64
 22  V22     261407 non-null  float64
 23  V23     261407 non-null  float64
 24  V24     261407 non-null  float64
 25  V25     261407 non-null  float64
 26  V26     261407 non-null  float64
 27  V27     261407 non-null  float64
 28  V28     261407 non-null  float64
 29  Amount  261407 non-null  float64
 30  Class   261407 non-null  float64
dtypes: float64(31)
memory usage: 61.8 MB

In [ ]:
#checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
credit_card_data['V3'].fillna(credit_card_data['V3'].median(),inplace=True)

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
261403,159998.0,1.724657,-0.106982,0.157860,3.956417,-0.567248,0.250016,-0.557382,0.192135,0.018389,...,0.248580,0.590834,0.099424,-0.083214,-0.266593,0.087290,-0.009315,-0.023482,80.05,0.0
261404,159998.0,-0.116710,0.622664,0.226647,-1.135911,0.791377,-0.669894,0.959207,-0.012747,-0.200576,...,-0.119183,-0.383198,0.080221,-0.433651,-1.079465,-0.044587,0.142399,0.205543,1.29,0.0
261405,160000.0,1.985257,-0.382365,-0.280022,0.494186,-0.721312,-0.528243,-0.574594,-0.077543,1.421329,...,0.188784,0.823228,0.096345,-0.074478,-0.064417,-0.207358,0.044080,-0.036908,9.99,0.0
261406,160001.0,-0.895792,1.271062,-1.315209,-1.293758,1.064260,-1.087220,1.296419,0.054068,-0.103692,...,0.207277,0.871975,-0.097011,0.712642,-0.264557,0.027453,0.300886,0.125450,15.41,0.0
261407,160001.0,2.037399,-1.871314,-0.035755,-1.523020,-1.876304,0.075325,-1.708434,0.060397,-0.991514,...,-0.030125,0.003028,-0.015651,0.043932,0.039439,-0.056823,0.001824,0.012935,22.81,0.0

In [ ]:
#removing the null values using imputation

num_columns = len(credit_card_data.columns)

for i in range(5, num_columns):
    credit_card_data.iloc[:, i].fillna(credit_card_data.iloc[:, i].median(), inplace=True)

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
261403,159998.0,1.724657,-0.106982,0.157860,3.956417,-0.567248,0.250016,-0.557382,0.192135,0.018389,...,0.248580,0.590834,0.099424,-0.083214,-0.266593,0.087290,-0.009315,-0.023482,80.05,0.0
261404,159998.0,-0.116710,0.622664,0.226647,-1.135911,0.791377,-0.669894,0.959207,-0.012747,-0.200576,...,-0.119183,-0.383198,0.080221,-0.433651,-1.079465,-0.044587,0.142399,0.205543,1.29,0.0
261405,160000.0,1.985257,-0.382365,-0.280022,0.494186,-0.721312,-0.528243,-0.574594,-0.077543,1.421329,...,0.188784,0.823228,0.096345,-0.074478,-0.064417,-0.207358,0.044080,-0.036908,9.99,0.0
261406,160001.0,-0.895792,1.271062,-1.315209,-1.293758,1.064260,-1.087220,1.296419,0.054068,-0.103692,...,0.207277,0.871975,-0.097011,0.712642,-0.264557,0.027453,0.300886,0.125450,15.41,0.0
261407,160001.0,2.037399,-1.871314,-0.035755,-1.523020,-1.876304,0.075325,-1.708434,0.060397,-0.991514,...,-0.030125,0.003028,-0.015651,0.043932,0.039439,-0.056823,0.001824,0.012935,22.81,0.0

In [ ]:
#distribution of legit trnasaction and fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    260936
1.0       472
Name: Class, dtype: int64

This dataset is highly unbalanced

0 -> Normal Transactions
1 -> Fraudulent Transactions

In [ ]:
#separating the data for analysis
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(260936, 31)
(472, 31)

In [ ]:
#statistical measures of the data
legit.Amount.describe()

count    260936.000000
mean         89.887393
std         249.236891
min           0.000000
25%           5.990000
50%          22.820000
75%          79.000000
max       19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     472.000000
mean      122.840297
std       259.787832
min         0.000000
25%         1.000000
50%         9.015000
75%       105.080000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
#compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,88488.744750,-0.010871,-0.023254,0.078726,0.006728,-0.019939,0.014385,-0.001348,-0.000336,0.004999,...,0.002102,-0.001896,-0.006355,-0.003492,0.001282,0.013486,0.001166,-0.000859,0.000505,89.887393
1.0,77187.949153,-4.908781,3.728735,-7.155517,4.622239,-3.293882,-1.391056,-5.723535,0.616291,-2.624974,...,0.374446,0.743121,0.001296,-0.051425,-0.108312,0.044213,0.048256,0.163812,0.073151,122.840297

Under-Sampling

Build a sample dataset containing similar distribution of Normal transactions and Fraudulent transactions

Number of Fraudulent Transactions -> 38

In [ ]:
legit_sample=legit.sample(n=472)

Concatenating two DataFrames

In [ ]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)
#axis=0 means adding values row wise
#and axis=1 means adding values column wise

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
194492,130611.0,2.153386,0.068731,-2.467994,-0.062611,1.298208,-0.158949,0.572537,-0.272459,-0.163753,...,0.091388,0.455386,-0.137189,-0.251769,0.517496,0.726263,-0.114376,-0.097628,0.76,0.0
144676,86319.0,-1.347124,1.191009,0.873138,-0.503211,-0.016235,-0.420554,0.176882,0.653403,-0.396462,...,-0.099804,-0.571810,0.032602,-0.083702,-0.479060,-0.073791,-0.068406,0.106493,8.24,0.0
28509,35040.0,-1.069697,-0.380163,1.460421,-1.742731,-0.576229,0.540228,-1.342443,-1.463613,-2.558952,...,1.101322,-1.207430,-0.190838,-0.886918,0.067539,-0.147928,0.342487,0.008947,60.00,0.0
116398,74259.0,1.188851,0.330711,0.868571,1.188888,-0.633465,-0.927517,-0.009456,-0.185617,0.049097,...,-0.044975,-0.075077,0.059260,0.718592,0.402798,-0.518110,0.040817,0.037097,6.99,0.0
72888,54898.0,0.586534,1.898986,-1.895704,1.622137,0.929148,-1.869690,0.999426,-0.301745,-0.227709,...,-0.172130,-0.150704,0.090677,0.047146,-0.393715,-0.398032,0.367608,0.074249,5.04,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
254395,156710.0,0.202402,1.176270,0.346379,2.882138,1.407133,-0.504355,1.438537,-0.395603,-1.555142,...,0.242560,0.841230,-0.370157,-0.026012,0.491954,0.234576,-0.279788,-0.331933,7.59,1.0
255403,157207.0,1.170756,2.501038,-4.986159,5.374160,0.997798,-1.259004,-1.237689,0.358426,-2.612489,...,0.123145,-0.713201,-0.080868,-0.964310,0.338568,0.068630,0.481588,0.268226,4.97,1.0
255556,157284.0,-0.242245,4.147186,-5.672349,6.493741,1.591168,-1.602523,-0.950463,0.722903,-4.128505,...,0.249023,-0.480286,-0.286080,-1.153575,-0.035571,0.559628,0.409446,0.221048,0.77,1.0
258403,158638.0,-5.976119,-7.196980,-5.388316,5.104799,4.676533,-5.566870,-4.291180,0.876531,-1.075478,...,1.459369,-0.136262,0.848177,-0.269916,-1.095060,-0.710905,0.565846,-1.034107,296.00,1.0
261056,159844.0,-0.408111,3.132944,-3.098030,5.803893,0.890609,-0.501474,-0.440054,0.591828,-3.267693,...,0.098482,-0.538375,-0.217989,-1.042657,0.314389,0.543244,0.233851,0.119603,45.51,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    472
1.0    472
Name: Class, dtype: int64

In [ ]:
#compare the values for both transactions
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,88764.466102,0.094316,0.075565,0.088586,-0.101475,-0.027026,0.223796,-0.109518,-0.024122,-0.023161,...,-0.014861,0.024242,-0.029989,0.025767,-0.015519,-0.024864,0.001863,0.003418,0.006685,75.649831
1.0,77187.949153,-4.908781,3.728735,-7.155517,4.622239,-3.293882,-1.391056,-5.723535,0.616291,-2.624974,...,0.374446,0.743121,0.001296,-0.051425,-0.108312,0.044213,0.048256,0.163812,0.073151,122.840297

Splitting the data into Features & Targets

In [ ]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [ ]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
194492  130611.0  2.153386  0.068731 -2.467994 -0.062611  1.298208 -0.158949
144676   86319.0 -1.347124  1.191009  0.873138 -0.503211 -0.016235 -0.420554
28509    35040.0 -1.069697 -0.380163  1.460421 -1.742731 -0.576229  0.540228
116398   74259.0  1.188851  0.330711  0.868571  1.188888 -0.633465 -0.927517
72888    54898.0  0.586534  1.898986 -1.895704  1.622137  0.929148 -1.869690
...          ...       ...       ...       ...       ...       ...       ...
254395  156710.0  0.202402  1.176270  0.346379  2.882138  1.407133 -0.504355
255403  157207.0  1.170756  2.501038 -4.986159  5.374160  0.997798 -1.259004
255556  157284.0 -0.242245  4.147186 -5.672349  6.493741  1.591168 -1.602523
258403  158638.0 -5.976119 -7.196980 -5.388316  5.104799  4.676533 -5.566870
261056  159844.0 -0.408111  3.132944 -3.098030  5.803893  0.890609 -0.501474

              V7        V8        V9  ...       V20       V21       V22  \
194492  0.572537 -0.272459 -0.163753  ... -0.127159  0.091388  0.455386
144676  0.176882  0.653403 -0.396462  ... -0.245578 -0.099804 -0.571810
28509  -1.342443 -1.463613 -2.558952  ... -0.636558  1.101322 -1.207430
116398 -0.009456 -0.185617  0.049097  ... -0.085800 -0.044975 -0.075077
72888   0.999426 -0.301745 -0.227709  ...  0.253550 -0.172130 -0.150704
...          ...       ...       ...  ...       ...       ...       ...
254395  1.438537 -0.395603 -1.555142  ... -0.206239  0.242560  0.841230
255403 -1.237689  0.358426 -2.612489  ...  0.227618  0.123145 -0.713201
255556 -0.950463  0.722903 -4.128505  ...  0.562030  0.249023 -0.480286
258403 -4.291180  0.876531 -1.075478  ...  3.136338  1.459369 -0.136262
261056 -0.440054  0.591828 -3.267693  ...  0.499568  0.098482 -0.538375

             V23       V24       V25       V26       V27       V28  Amount
194492 -0.137189 -0.251769  0.517496  0.726263 -0.114376 -0.097628    0.76
144676  0.032602 -0.083702 -0.479060 -0.073791 -0.068406  0.106493    8.24
28509  -0.190838 -0.886918  0.067539 -0.147928  0.342487  0.008947   60.00
116398  0.059260  0.718592  0.402798 -0.518110  0.040817  0.037097    6.99
72888   0.090677  0.047146 -0.393715 -0.398032  0.367608  0.074249    5.04
...          ...       ...       ...       ...       ...       ...     ...
254395 -0.370157 -0.026012  0.491954  0.234576 -0.279788 -0.331933    7.59
255403 -0.080868 -0.964310  0.338568  0.068630  0.481588  0.268226    4.97
255556 -0.286080 -1.153575 -0.035571  0.559628  0.409446  0.221048    0.77
258403  0.848177 -0.269916 -1.095060 -0.710905  0.565846 -1.034107  296.00
261056 -0.217989 -1.042657  0.314389  0.543244  0.233851  0.119603   45.51

[944 rows x 30 columns]

In [ ]:
print(Y)

194492    0.0
144676    0.0
28509     0.0
116398    0.0
72888     0.0
         ...
254395    1.0
255403    1.0
255556    1.0
258403    1.0
261056    1.0
Name: Class, Length: 944, dtype: float64

Split the data into Training Data and 
Testing Data

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)
#stratify is used for the even distribution
#random state is used to produce the data as it is

In [ ]:
print(X_train)

            Time         V1        V2         V3         V4         V5  \
6820      8614.0  -2.169929  3.639654  -4.508498   2.730668  -2.122693
108708   71033.0  -3.170818  0.185735  -3.399852   3.761155  -2.148047
150678   93879.0 -13.086519  7.352148 -18.256576  10.648505 -11.731476
204608  135358.0  -0.192434  0.073436   1.360925  -1.538933  -0.065737
201601  133958.0   0.523820  1.531708  -4.176390   3.584615  -1.023954
...          ...        ...       ...        ...        ...        ...
83053    59669.0   0.326007  1.286638  -2.007181   2.419675  -1.532902
89153    62451.0  -2.330757  2.384047   1.120864   1.104750  -0.340590
258403  158638.0  -5.976119 -7.196980  -5.388316   5.104799   4.676533
232103  147046.0   1.986363  0.086134  -1.733975   1.214144   0.572105
178208  123525.0  -5.904921  4.439911  -8.631802   7.788684  -4.989580

              V6         V7        V8        V9  ...       V20       V21  \
6820   -2.341017  -4.235253  1.703538 -1.305279  ...  0.500779  0.645103
108708 -1.598944  -2.519565  1.316215 -2.400106  ...  1.932254  1.092051
150678 -3.659167 -14.873658  8.810473 -5.418204  ... -1.376298  2.761157
204608 -0.224718   0.516897 -0.142125 -0.809261  ... -0.481886 -0.882608
201601 -0.502471  -1.891966  0.878417 -1.541942  ...  0.621804  0.851859
...          ...        ...       ...       ...  ...       ...       ...
83053  -1.432803  -2.459530  0.617738 -1.125861  ...  0.222667  0.556895
89153   0.689860  -1.854175 -7.205428 -0.061694  ...  1.223369 -1.196796
258403 -5.566870  -4.291180  0.876531 -1.075478  ...  3.136338  1.459369
232103 -0.649097   0.503133 -0.215641  0.066817  ... -0.300688  0.079093
178208 -1.200144  -7.674060  4.125761 -5.315778  ... -0.505608  1.775030

             V22       V23       V24       V25       V26       V27       V28  \
6820   -0.503529 -0.000523  0.071696  0.092007  0.308498  0.552591  0.298954
108708 -0.041080  0.904395  0.180016  0.049970 -0.257100  0.859282  0.225924
150678 -0.266162 -0.412861  0.519952 -0.743909 -0.167808 -2.498300 -0.711066
204608 -2.027143  0.177262  0.607719 -0.670235  0.019861 -0.102061 -0.089059
201601  1.176927  0.453553  0.485211 -0.500687 -0.108284  0.269477 -0.063245
...          ...       ...       ...       ...       ...       ...       ...
83053   0.169776 -0.174357  0.308061  0.710996 -0.231030  0.580495  0.300984
89153   0.355312  0.350623  0.646874  0.146071 -0.347942  0.007828 -0.093391
258403 -0.136262  0.848177 -0.269916 -1.095060 -0.710905  0.565846 -1.034107
232103  0.364242 -0.056720 -0.408103  0.444471 -0.485487 -0.025529 -0.075014
178208  1.266441 -0.199410  0.014960 -0.000019  0.544210 -1.167566 -1.206354

        Amount
6820      1.00
108708  426.40
150678   30.31
204608   18.90
201601  130.21
...        ...
83053     6.27
89153     1.00
258403  296.00
232103   20.00
178208   45.51

[755 rows x 30 columns]

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(944, 30) (755, 30) (189, 30)

In [ ]:
print(X_test)

            Time        V1        V2         V3        V4        V5        V6  \
1702      1316.0 -0.838595  1.016918   1.545098 -0.735903 -0.157522 -0.705900
42528    41138.0 -4.595617  5.083690  -7.581015  7.546033 -6.949165 -1.729185
131473   79613.0  1.145880  1.214293  -1.506525  1.528983  0.991793 -1.150058
42723    41217.0 -1.231875  1.655133   0.859927  1.223710 -0.231262  0.023714
151730   96135.0 -1.952933  3.541385  -1.310561  5.955664 -1.003993  0.983049
...          ...       ...       ...        ...       ...       ...       ...
170779  120349.0  2.011950 -2.325317  -1.185335 -2.483910  0.126657  4.200960
13511    23942.0  1.410227 -0.399556   0.206625 -0.305568 -0.839875 -1.059586
249963  154657.0 -0.679521  4.672553  -6.814798  7.143500  0.928654 -1.873013
219037  141570.0 -0.384313  1.129666   0.291255 -0.328841 -0.346455 -1.655401
63634    50808.0 -9.169790  7.092197 -12.354037  4.243069 -7.176438 -3.386618

              V7        V8        V9  ...       V20       V21       V22  \
1702    0.663999  0.095224 -0.062898  ...  0.135644 -0.160567 -0.259315
42528  -8.190192  2.714670 -7.083169  ...  1.682160  2.248971  0.566844
131473  0.609307 -0.121247 -0.742656  ... -0.054470 -0.115845 -0.231322
42723   0.343755  0.508890 -0.163056  ...  0.259055 -0.067736  0.269869
151730 -4.587235 -4.892184 -2.516752  ...  1.965030 -1.998091  1.133706
...          ...       ...       ...  ...       ...       ...       ...
170779 -2.573212  1.142305 -0.602494  ... -0.125351  0.126500  0.588848
13511  -0.401084 -0.338129  0.633110  ... -0.023522 -0.002970  0.240006
249963 -2.306689  0.993702 -4.944054  ...  0.872006  0.566849 -0.321691
219037  0.757225  0.132517 -0.347061  ... -0.112679 -0.144756 -0.382783
63634  -8.058012  6.442909 -2.412987  ...  0.816652  0.926157 -0.817706

             V23       V24       V25       V26       V27       V28  Amount
1702   -0.055336  0.546183 -0.226429  0.268335  0.404801  0.232482    5.00
42528   0.033744  0.591783  0.334229  0.386801  2.163898  0.983104  340.11
131473 -0.168318 -0.097413  0.731253 -0.295099  0.053541  0.085839    1.79
42723  -0.041164  0.106342  0.067865 -0.209588  0.551365  0.244672   22.99
151730 -0.041461 -0.215379 -0.865599  0.212545  0.532897  0.357892   18.96
...          ...       ...       ...       ...       ...       ...     ...
170779  0.225285  0.700536 -0.529940 -0.081332  0.082167 -0.014726  114.00
13511  -0.152639  0.364672  0.739250 -0.102408 -0.042430 -0.002366   20.00
249963 -0.281325 -1.120256 -0.073394  0.553530  0.760542  0.386742    0.77
219037  0.268336  0.933498 -0.562355  0.083395  0.120282  0.045664   19.99
63634  -0.150434 -0.039383  0.485640 -0.264325  1.159690  0.232758   99.99

[189 rows x 30 columns]

In [ ]:
print(Y_train)

6820      1.0
108708    1.0
150678    1.0
204608    0.0
201601    1.0
         ...
83053     1.0
89153     0.0
258403    1.0
232103    0.0
178208    1.0
Name: Class, Length: 755, dtype: float64

In [ ]:
print(Y_test)

1702      0.0
42528     1.0
131473    0.0
42723     0.0
151730    1.0
         ...
170779    0.0
13511     0.0
249963    1.0
219037    0.0
63634     1.0
Name: Class, Length: 189, dtype: float64

Model Training

Logistic Regrssion(because of binary classification problem)

In [ ]:
model=LogisticRegression()

In [ ]:
#training the Logistic Regression Model with Training Data
model.fit(X_train,Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [ ]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)
#predicting all the labels of training data and stores them into X_train_prediction
#and then compares it with labels of Y_train(original labels)

In [ ]:
print('Accuracy on Trainig data : ', training_data_accuracy)

Accuracy on Trainig data :  0.9496688741721855

In [ ]:
#accuracy on test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [ ]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.91005291005291